.main {
  display: flex;
  background-color: black;
}

.header {
  background-color: teal;
  display: "flex";
  height: "30px";
  justifycontent: "space-between";
  padding: "20px ";
}

.headerContent {
  display: "flex";
  color: green;
  gap: "20px";
}

.content {
  flex: 0.8;
  color: "white";
  background-color: "DodgerBlue";
  padding: "10px";
  font-family: "Arial";
}
